@keyframes sliderSlide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes introText {
  99%{
    transform: scale(50) ;

    content: "";
  }

  100% {
    transform: scale(50) translateX(-5%);
  }
}
@keyframes headerEnter {
  from {
    transform: translate(0%, -100%);
    opacity: 0;
    overflow: hidden;
  }
  to {
    overflow: visible;
    max-height: 10vh;
    transform: translate(0%, 0);
    opacity: 1;
  }
}
@keyframes headerEnterDesktop {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  to {
    max-height: 10vh;
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
@keyframes introBrith {
  0%,
  100% {
    transform: scale(100%);
  }
 50% {
    transform: scale(105%);
  }

}
